.orange{
    color: #e95e1e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.section-description-one {
    padding-left: 15% !important;
}

.section-description-one .description {
    padding-left: 15%;
}
.user-img{
    background-image:url("../../../assets/image/user.png");
    background-position:center;
    background-size:cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
.badge{
    margin-left: 5px;
    margin-right: 5px;
}